<nav class="navbar navbar-default">
  <div class="navbar-header">

    <a class="navbar-brand" href="#/landingpage"> <img src="images/icons/letlife@2x-white.png"></a>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#/downloadPage">Scarica l'app</a></li>
      <li><a href="#/assistenza">Assistenza</a></li>
      <li><a href="#/info">Info su Sea Marconi</a></li>
      <li><a href="#/createAccount">Iscriviti</a></li>
      <li><a href="#/login">Accedi</a></li>
    </ul>
  </div>
</nav>















<!--


<div class="header-wrapper" >
  <header class="container">

    <nav id="mainNav" class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
           <img src="images/icons/letlife@2x-white.png">
       </a>
        <div class="collapse navbar-collapse" id="mainMenu">
          <ul class="nav navbar-nav">
            <li><a href="#/download">Scarica l'app</a></li>
            <li><a href="#/assistenza">Assistenza</a></li>
            <li><a href="#/info">Info su LetLife</a></li>
            <li><a href="#/register">Iscriviti</a></li>
            <li><a href="#/login">Accedi</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>
-->
